.header{
    text-align: center;
    background-color:black;
    color: white;
    text-shadow: 1px 1px 5px rgb(78, 64, 82);
    box-shadow: inset 1px 1px 15px rgb(32, 32, 32);
    padding: 20px;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}