body{
   margin: 0;
}
.nav {
   list-style-type: none;
   margin: 0;
   box-shadow: inset 0px 0px 5px rgb(20, 20, 20);
   padding: 0;
   overflow: hidden;
   background-color: #333;
   width: 100%;
  }

 .nav > li{

   float: left;
 } 

.NavLink{
   display: block;
   color: white;
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
   font-size: 20px;
   padding: 14px 16px;
   text-decoration: none;
 }

 .activeRoute{
   color: white;
   background-color: rgb(1, 0, 3);
 }